.auto-columns {
  display: grid;
  grid-template-columns: auto;
  
  @media (min-width: $tablet-portrait) {
    &:not(.header){
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: $tablet-landscape) {
    &:not(.header){
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    &.header{
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
}
